body {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text color */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 600px; /* Limit container width */
    width: 100%; /* Full width of the device */
}

.logo {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space below the image */
}

.filters {
    margin-bottom: 20px;
}

.filters select {
    background-color: #222; /* Dark background for select */
    color: #ffffff; /* Light text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside the select */
    margin: 0 10px; /* Space between selects */
}

.performance-list {
    max-height: 400px; /* Set a max height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #1e1e1e; /* Dark background for the list */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside the list */
}

.performance {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    background-color: #333; /* Background for each performance */
    transition: background-color 0.3s; /* Transition for hover effect */
}

.performance:hover {
    background-color: #555; /* Highlight on hover */
}

option {
    display: flex;
    justify-content: center;
    align-items: center;
}
